<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>

    {{ wp_head }}

    <link rel="stylesheet" href="{{ theme.link }}/assets/vendor.css">
    <link rel="stylesheet" href="{{ theme.link }}/assets/app.css">
</head>
<body>

    <h1>{{ site.name }}</h1>

    <p>Your new Wordpress project is ready to rock!</p>

    {{ wp_footer }}

    {# If you add dependencies in the vendor scripts, uncomment the line below. #}
    {# <script src="{{ theme.link }}/assets/vendor.js"></script> #}
    <script src="{{ theme.link }}/assets/app.js"></script>

</body>
</html>
