<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>

    {{ wp_head }}

    <link rel="stylesheet" href="{{ 'vendor.css'|asset('vendor') }}">
    <link rel="stylesheet" href="{{ 'app.css'|asset('app') }}">
</head>
<body {% if device.isMobile %} data-is-mobile {% endif %}
      {% if device.isTablet %} data-is-tablet {% endif %}
      {% if device.isPhone %}  data-is-phone  {% endif %}>

    {% block content %}{% endblock %}

    {{ wp_footer }}

    {# If you add dependencies in the vendor scripts, uncomment the line below. #}
    {# <script src="{{ 'vendor.js'|asset('vendor') }}"></script> #}
    <script src="{{ 'app.js'|asset('app') }}"></script>

</body>
</html>
