<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>

    {{ wp_head }}

    <link rel="stylesheet" href="{{ 'vendor.css'|asset('vendor') }}">
    <link rel="stylesheet" href="{{ 'app.css'|asset('app') }}">
    {% include 'ie8-support/stylesheet.twig' %}
</head>
<body>
    {% include 'ie8-support/body.twig' %}

    {% block content %}{% endblock %}

    {{ wp_footer }}

    {# If you add dependencies in the vendor scripts, uncomment the line below. #}
    {# <script src="{{ 'vendor.js'|asset('vendor') }}"></script> #}
    <script src="{{ 'app.js'|asset('app') }}"></script>
    {% include 'ie8-support/script.twig' %}
</body>
</html>
